@{
    ViewData["Title"] = "Home Page";
    string baslik = "Tugay Hoş Geldin!";
}

<div class="text-center">
    <h1 class="display-4">Hoş Geldiniz!</h1>
    <h2>@baslik</h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{
    Console.WriteLine("Deneme 1-2-3");
}