@model Kitap

@{
    ViewData["Title"] = "Kitap Ekle";
}

<h1>Create</h1>

<h4>Kitap</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Isim" class="control-label"></label>
                <input asp-for="Isim" class="form-control" />
                <span asp-validation-for="Isim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yazar" class="control-label"></label>
                <input asp-for="Yazar" class="form-control" />
                <span asp-validation-for="Yazar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tur" class="control-label"></label>
                <input asp-for="Tur" class="form-control" />
                <span asp-validation-for="Tur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YayınEvi" class="control-label"></label>
                <input asp-for="YayınEvi" class="form-control" />
                <span asp-validation-for="YayınEvi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SayfaSayisi" class="control-label"></label>
                <input asp-for="SayfaSayisi" class="form-control" />
                <span asp-validation-for="SayfaSayisi" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Okundu" /> @Html.DisplayNameFor(model => model.Okundu)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
