@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Yazılım Uzmanlığı Eğitimi</h1>
    <p>Bu eğitimde <a href="https://kariyermimari.com">Kariyer Mimarı</a> tarafından detaylı yazılım geliştirme eğitimi verilmektedir.</p>

</div>


<h2>Eğitim İçeriği</h2>
<ul>
    <li>C# Temelleri</li>
    <li>Console Uygulama Geliştirme</li>
    <li>Windows Forms Uygulama Geliştirme</li>
    <li>SQL Veritabanı Yönetimi</li>
    <li>Asp.net Core MVC</li>
</ul>


<div>
    <h2>Eğitmen: Tugay Tuna</h2>
    <img src="https://avatars.githubusercontent.com/u/8402476?v=4" alt="tugay tuna" />
</div>